latex/*.aux
latex/*.fdb_latexmk
latex/*.fls
latex/*.log
latex/*.out
latex/*.toc
latex/*.synctex.gz
latex/master.pdf
latex/*.idx
latex/*.ilg
latex/*.ind
work/source-pages/
work/rendered-output/
work/ocr/
work/contact-sheets/
pct-appendix-bibliography.pdf
