latex/*.aux
latex/*.fdb_latexmk
latex/*.fls
latex/*.log
latex/*.out
latex/*.pdf
latex/*.toc
qa/rendered/
tmp/
work/**/audio.*
work/**/video.*
work/**/keyframes/
work/**/note-pages/
work/**/written-pass.txt
